---
import SliderBar from "./SliderBar.jsx";
// fetch photos from firebase

// const photos = await firebase.firestore().collection('photos').get()
const photos = [
  "https://via.placeholder.com/400x320/8ff.webp",
  "https://via.placeholder.com/300x520/04f.webp",
  "https://via.placeholder.com/820x420/ff9.webp",
  "https://via.placeholder.com/600x320/1f1.webp",
  "https://via.placeholder.com/400x320/8ff.webp",
  "https://via.placeholder.com/300x520/04f.webp",
  "https://via.placeholder.com/820x420/ff9.webp",
];
---

<div class="flex h-full w-full flex-row items-center gap-x-4">
  <div
    class="scrollbar-hide h-full w-[95%] snap-y snap-mandatory snap-start overflow-scroll scroll-smooth md:h-screen"
  >
    {
      photos.map((photo, index) => (
        <img
          src={photo}
          id={`${index}`}
          class=" h-full w-full snap-start object-contain"
        />
      ))
    }
  </div>
  <SliderBar photos={photos} client:only="react" />
</div>
